<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.staticImages = {
    	  spotifyLogoBlack: "<%= asset_url "Spotify_Logo_CMYK_Black.png" %>",
        orange_abstract: "<%= asset_url "orange_abstract.png" %>",
        favcon: "<%= asset_url "favcon.png" %>",
        havana: "<%= asset_url "havana.jpg" %>"
      }
    </script>
    <%= favicon_link_tag asset_path('favcon.png'), :rel => 'icon', :type => 'image/png'%>

  </head>

  <body>
    <%= yield %>
  </body>


</html>
